.cabecalho{
	background-color: tomato;
	text-align: center;
    height: 150px;
	font-size: 1.5em;
}
.carousel_main{
	width: 90vh;
	align-items: center;
	flex-grow: 4;
}
.container-fluid{

	align-items: center;
  }	