.cabecalho{
	background-color: rgb(255, 255, 255);
	background-image: url("../images/background.png");
    height: 120px;	
	display: flex;
	flex-direction:row;	
}
.info{
	flex-grow: 1;
}
#navbar{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.text_inf{
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	font-family:inter;
	font-size: 0.9em;
	color: rgb(238, 238, 238);
	text-decoration: none;
	word-wrap: break-word;	
}
.cabecalho a:hover{
	color: rgb(238, 238, 238);
}

#item_carousel{
	border-radius: 10px;
}
@font-face {
	font-family: inter;
	src: url(../fontes/Inter/Inter-VariableFont_slnt\,wght.ttf)
}