<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="../images/icon.png">
    <meta charset='utf-8'>
    <title>Brasil Uniformes</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="../css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</head>

<body style="background-color:rgb(233, 231, 231);">
    <section class="container-fluid" style="background-color: rgb(233, 231, 231);">
        <div class="row">
            <div class="cabecalho">
                <div class="logo">
                    <img style="margin-top: 10px;" src="../images/logo.jpeg" alt="logo"
                        height="90px">
                </div>
                <div class="info">
                    <a class="text_inf">
                        roberto.donizete.brasil.sp@gmail.com
                    </a>
                    <a class="text_inf">
                        (016) 99734-4957
                    </a>
                </div>
            </div>

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div id="navbar" class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                            <li class="nav-item">
                                <a class="nav-link" href="#">Mostruário</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Empresa</a>
                            </li>
                            <li class="nav-item">
                                <img src="../images/icon.png" width="40vh">
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Certificados</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Feedback</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="carousel_main">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel"
                    style="margin-left: 25%; width: 50%; margin-top: 2%;">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img id="item_carousel" src="../images/uniforme1.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>First slide label</h5>
                                <p>Some representative placeholder content for the first slide.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img id="item_carousel" src="../images/uniforme2.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Second slide label</h5>
                                <p>Some representative placeholder content for the second slide.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img id="item_carousel" src="../images/uniforme3.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Veja nosso mostruário!</h5>
                                <p>OBS: Todo nosso produto está dentro das normas da ABNT e normas do Inmetro</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <script>

    </script>
</body>

</html>